.footer {
  color: var(--color-text-secondary);
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

@media screen and (min-width: 720px) {
  .footer {
    flex-direction: row;
    gap: 1em;
  }

  .left {
    flex-grow: 1;
  }
}

.right {
}
